.divzaView {
    background-color: rgb(126, 160, 177);
    height: 91.2vh;
    width: 86vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto; 
    padding: 10px;
}

.objava {
    border-radius: 9%;
    background-color: rgb(223, 235, 245);
    height: 79%;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; 
}

.photo{
    width:100%;
    height: 100%;
}

.slika{
    border:2px solid black;
    height:60%;
    margin-top:5%;
    width:90%;
}
.button2{
    border-radius: 0;
    height:25%;
}
.button{
    height:6%;
    border-radius: 50%;
    border: 0;
    width:7%;
    margin-left:86%;
    margin-top:2%;
    margin-bottom: -5%;
}
.tr{
    height:100%;
    width:100%;
}
.commentsSection {
    padding-top: 10px;
    border-top: 1px solid #ddd;
    z-index: 2;
}
.p11{
    font-size: smaller;
    color: blue;

}
.comment {
    padding: 5px 0;
    font-size: 14px;
    color: #333;
    z-index: 2;
}

.commentForm {
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.commentInput {
    flex: 1;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 15px;
    outline: none;
}

.commentButton {
    background: none;
    border: none;
    color: #3897f0;
    font-weight: bold;
    margin-left: 5px;
    cursor: pointer;
}
.lajkovi{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width:90%;
    height:17%;
}

.lajk{
    height:90%;
    
}

.heartR {
    height: 80%;
    width: 70%;
    background-color: white;
    mix-blend-mode: multiply;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.icon {
    height: 80%; 
    width: auto;
}
.opis{
    height:20%;
}
.coment{
    height: 70%;
    width: 70%;
}