.content-area{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}
.navbar{
    width:80vw;
}

.sidebar{
    height:94vh;
}

.layout-container{
    overflow-x: hidden;
    overflow-y: auto;
   
}